/* 注册组件共同的头部样式 */
#header /deep/ .mint-header{
    height:3rem;
    background-color:rgb(252, 244, 133);
    border-radius:2px;
    color:#363636;
    font-size:0.8rem;
}
#header >>> .mint-button-text{
    font-weight:600;
}

/* 注册组件共同的内容样式 */
#content{
    box-sizing:border-box;
    padding-top:8rem;
    padding-left:2rem;
}
#content .title{
    font-size:22px;
    font-weight: bolder;
}
#content input{
    height:2.5rem;
    border:0;
    outline:0;
    border-bottom:2px solid #ffe971;
    border-radius:2px;
    width:90%;
    font-size:12px;
    margin-top:3.5rem;
}
/* 注册组件共同的脚部样式 */
#footer{
    width:80%;
    padding-top:3rem;
    box-sizing:border-box;
    margin:0 auto;
}
#footer .mint-button{
    background:#ffe971;
    border-radius:15px;
    color:#363636;
    font-weight: bolder;
    font-size:14px;
}